{
margin: 0px;
padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("m.jpg");
  color: white;
}

.Halloiedereen{
  #border-top: 5px;
  #color: red;
}

h1{
  font-family: 'Didact Gothic', sans-serif;

}

h2{
  font-family: 'Krub', sans-serif;
  font-size: 15px;
}
p{
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  font-size: 16px;
  text-align:left;
}

li{
  font-family: 'Krub', sans-serif;
  color: white;
  font-size: 20px;
  text-align:left;
}
p1{
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  font-size: 20px;
  text-align:left;
}

table{
  font-family: sans-serif;
  color: white;
  border: 3px solid white;

}

/**h1.hover{
  left: -90px;
  font-family: 'Krub', sans-serif;
  width: 200px;
  height: 50px;
  transition: .5s ease;

}**/

.box {
  min-height: 900px;
}

#container {
  display: grid;
  grid-template-columns: 2fr 6fr ;
  grid-template-rows: 1fr 6fr;
}

#bovenbalk {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #45548d;

}

#linkerkolom {
  background-color: #45548d;
}

#centrum {
  background-color: #4c5b96;
  grid-column-start: 2;
  grid-column-end: 4;
}

#Sidemenu a {
  position: absolute;
  left: -80px;
  transition: 0.3s; /* snelheid*/
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 0 50px 50px 0;
}

#Sidemenu a:hover {
  left: 0;
}

#home {

  font-family: 'Krub', sans-serif;
  top: 20px; /*hoogte van de balk*/
  background-color: #e7746e;
  color: white;

}

#about {
  font-family: 'Krub', sans-serif;
  top: 80px;
  background-color: #3b414d;
  color: white;

}

#projects {
  font-family: 'Krub', sans-serif;
  top: 140px;
  background-color: #5bcba8;
  color: white;
}

#contact {
  font-family: 'Krub', sans-serif;
  top: 200px;
  background-color: white;
  color: black;

}

#t {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#t td, #t th {
  border: 1px solid #ddd;
  padding: 8px;
}


#t th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e7746e;
  color: white;
}

li{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#form{
  margin-top: 90px;
  text-align: left;
  padding-right:31px;
}

#flexbox {
  height: 900px;
  background-color: #4c5b96;
  display: flex;
  justify-content: space-evenly;

}

article{
  color: white;
  font-family: 'Krub', sans-serif;
}

article{
  font-family: 'Krub', sans-serif;
}


input.name{
  left: -70px;
  font-family: 'Krub', sans-serif;
  width: 200px;
  height: 50px;
  border: none ;
  background-color: #45548d;
}

input.last-name{
  font-family: 'Krub', sans-serif;
  width: 300px;
  height: 50px;
  border: none ;
  background-color: #45548d;
}

input.email{
  font-family: 'Krub', sans-serif;
  width: 300px;
  height: 50px;
  border: none ;
  background-color: #45548d;
}

input.comment{
  font-family: 'Krub', sans-serif;
  width: 405px;
  height: 50px;
  border: none ;
  background-color: #45548d;
}

input.comment{
  font-family: 'Krub', sans-serif;
  width: 405px;
  height: 50px;
  border: none ;
  background-color: #45548d;
}



input.submit{
  font-size: 15px;
  font-family: 'Krub', sans-serif;
  width: 200px;
  height: 50px;
  border: none ;
  color: #2a2f4a
  background-color: white;
  transition: .5s ease;

}

input.submit:hover{
  font-size: 15px;
  font-family: 'Krub', sans-serif;
  width: 200px;
  height: 50px;
  border: none ;
  color: #2a2f4a
  background-color: white;
  transition: .5s ease;
  opacity: .5;

}


 input.reset{
  font-size: 15px;
  font-family: 'Krub', sans-serif;
  width: 200px;
  height: 50px;
  border: 2px solid white;
  color: white;
  background-color: #45548d;
  transition: .5s ease;
}

input.reset:hover{
 font-size: 15px;
 font-family: 'Krub', sans-serif;
 width: 200px;
 height: 50px;
 border: 2px solid white;
 color: white;
 background-color: #45548d;
 transition: .5s ease;
 opacity: .5;
}
